:root {
	--listwidth: 400px;
	--mheader_height: 80px;
}

#content {
	height: 100%;
	overflow: auto;
	padding: 0 15px;
}

#sidebar .searchbox {
	background: url(./../../../../skins/larry/images/buttons.png) 0 -316px white no-repeat;
	width: calc(100% - 15px);
	border: 1px solid #ababab;
	position: absolute;
	height: 18px;
	border-radius: 4px;
}

#sidebar .searchbox input {
	font-weight: bold;
	font-size: 11px;
	background: white;
	border: none;
	padding: 0 0 0 5px;
	margin: 0 0 0 19px;
	top: -2px;
	position: relative;
	width: calc(100% - 35px);
}

#sidebar {
	width: var(--listwidth);
	position: absolute;
	float: left;
	height: 99.5%;
	overflow: hidden;
	border-radius: 4px;
	margin-right: 5px;
	border: 1px solid #b2b8bf;
}

#filelist_header {
	display: block;
	top: 0;
	left: 0;
	right: 0;
	height: 34px;
	padding: 6px 6px;
	background: #efefef;
	border-radius: 4px 4px 0 0;
	white-space: nowrap;
	border-bottom: 1px solid #dfdfdf;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#taglist {
	display: none;
}

.filelist {
	width: 100%;
	height: calc(100% - 34px);
	overflow: auto;
	background: gainsboro;
}

.cke_chrome {
	border: 0px !important;
}

.main {
	position: absolute;
	height: 99.5%;
	left: calc(var(--listwidth) + 15px);
	width: calc(100% - var(--listwidth) - 20px);
	border: 1px solid #b2b8bf;
	border-radius: 4px;
}

.main_header {
	height: var(--mheader_height);
	background: #efefef;
	width: 100%;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.main_header input {
	border-style: solid;
	width: calc(100% - 30px);
	padding: 0;
	margin-left: 15px;
	margin-top: 5px;
	border-radius: 4px;
	padding-left: 5px;
}

.save_button {
	position: absolute;
	right: 16px;
	top: 11px;
	height: 34px;
	width: 34px;
	background: url(images/button_save.png) no-repeat;
	display: none;
}

.save_button a {
	width: 100%;
	height: 100%;
	position: absolute;
}

.main_area {
	position: absolute;
	top: var(--mheader_height);
	height: calc(100% - var(--mheader_height));
	width: 100%;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	background: white;
	border-top: 1px solid #b2b8bf;
	margin-top: -1px;
}

#filelist {
	margin: 0;
	padding: 0;
}

.fsize {
	text-align: right;
	float: right;
	border: 1px solid #b2b8bf;
	width: 50px;
	border-radius: 4px;
	padding: 0 3px;
	background: cornsilk;
	position: relative;
}

.filelist li {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	padding: 3px 5px 2px 40px;
	font-weight: bold;
	color: #405353;
	border-bottom: 1px inset;
	font-family: "Lucida Grande",Verdana,Arial,Helvetica,sans-serif;
	font-size: 12px;
}

.filelist li.pdf {
	background: #fceae8 url(images/pdf-icon.png) 5px 7px/27px no-repeat;
}

.filelist li.html, li.htm {
	background: #f1f3f4 url(images/html-icon.png) 5px 7px/27px no-repeat;
}

.filelist li.jpg {
	background: #eaf9fb url(images/jpg-icon.png) 5px 7px/27px no-repeat;
}

.filelist li.md {
	background: #e4e4e4 url(images/md-icon.png) 5px 7px/27px no-repeat;
}

.filelist li.txt {
	background: #fdeae7 url(images/txt-icon.png) 5px 7px/27px no-repeat;
}

.filelist li {
	background: #fff7e6 url(images/unknown-icon.png) 5px 7px/27px no-repeat;
}

.selected, .selected a, .selected span {
	background-color: #017db6 !important;
	color: white !important;
}

.filelist li:hover {
	background-color: #e8eaf6;
	text-decoration: none !important;
}

.filelist a > span {
	color: #666;
	font-weight: normal;
	font-size: 11px;
	font-family: "Lucida Grande",Verdana,Arial,Helvetica,sans-serif;
}

.filelist a {
	text-decoration: none !important;
	color: #405353;
	width: 100%;
	display: block;
}