#tocdiv div {
    counter-reset: section;
}
#tocdiv ul {
    counter-reset: item;
}
#tocdiv li:not(.ul)::before {
	content: counters(item, ".") " ";
	counter-increment: item;
}
.editor-preview {
    counter-reset: h1;
}
.editor-preview h1 {
	counter-reset: h2;
}
.editor-preview h1:before {
	counter-increment: h1;
	content: counter(h1) " ";
}
.editor-preview h2 {
	counter-reset: h3;
}
.editor-preview h2:before {
	counter-increment: h2;
	content: counter(h1) "." counter(h2) " ";
	counter-reset: h3;
}
.editor-preview h3 {
	counter-reset: h4;
}
.editor-preview h3:before {
	counter-increment: h3;
	content: counter(h1) "." counter(h2) "." counter(h3) " ";
	counter-reset: h4;
}
.editor-preview h4 {
	counter-reset: h5;
}
.editor-preview h4:before {
	counter-increment: h4;
	content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) " ";
	counter-reset: h5;
}
.editor-preview h5 {
	counter-reset: h6;
}
.editor-preview h5:before {
	counter-increment: h5;
	content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) " ";
	counter-reset: h6;
}