:root {
  --maxwidth: 800px;
}
@media screen and (max-width: 480px) {
	.editor-toolbar button.clean-block {
		display: none !important;
	}
	.editor-toolbar button.ordered-list {
		display: none !important;
	}
	.editor-toolbar button.table {
		display: none !important;
	}
	.editor-toolbar button.italic {
		display: none !important;
	}
	.editor-toolbar .separator {
		display: none !important;
	}
}
#metah {
	height: 100%;
}
#notes-list.highlight * {
	background-color: aliceblue;
	opacity: .8;
	pointer-events: none;
}
#tocdiv {
	position: absolute;
	background-color: #d4dbde;
	width: 260px;
	white-space: nowrap;
	padding: 5px 0 5px;
	border-bottom-left-radius: .3em;
	border-bottom-right-radius: .3em;
	border: 1px solid #bbb;
	overflow-x: hidden;
	right: 30px;
	border-top: 0;
	height: 250px;
	overflow-y: auto;
}
#tocdiv.tocShow {
	top: 29px;
}
#tocdiv div {
	height: calc(100% - 35px);
	overflow: auto;
	width: 100%;
	padding-top: 10px;
	padding-right: 15px;
	counter-reset: section;
}
#tocdiv h3 {
	font-size: 1.3em;
	padding: 10px 10px 2px;
	background-color: #b6c3c8;
	width: 258px;
	margin: 0;
}
#tocdiv > li {
	top: 40px;
	position: relative;
}
#tocdiv ul {
	margin: 0;
	padding-left: 15px;
	counter-reset: item;
}
#tocdiv li {
	list-style: none;
	padding: 0;
	overflow: hidden;
	text-overflow: ellipsis;
}
#tocdiv li:not(.ul)::before {
	content: counters(item, ".") " ";
	counter-increment: item;
}
.db-spinner {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: transparent;
	border: 7px solid #2229;
	border-top: 7px solid #03a9f4;
	border-bottom: 7px solid #03a9f4;
	animation: 1s spin linear infinite;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 100;
}
.lbg {
	background-color: #44697547;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
@keyframes spin {
	from {
		transform: rotate(0deg);
	} to {
		transform: rotate(360deg);
	}
}
.mdeHide {
	display: none !important;
}
#headerTitle {
	font-size: 2em;
	padding: 0 5px;
	width: calc(100% - 40px);
	border: thin solid #ced4da;
	background-color: #fff;
	border-radius: .2em;
	margin: 5px 9px;
	outline: 0;
	text-overflow: ellipsis;
}
#headerTitle.readOnly {
	border-color: transparent!important;
	background-color: transparent!important;
	pointer-events: none;
}
#main_header .tagify {
	border: 1px solid transparent !important;
	overflow-x: auto;
	flex-wrap: revert !important;
	margin: 0 10px;
	border-radius: .3em;
	overflow-y: hidden;
}
#main_header .tagify[readonly]:not(.tagify--mix):not(.tagify--select) .tagify__tag > div::before {
	animation: unset !important;
}
#main_header .taedit {
	background-color: #fff;
	border-color: #ced4da !important;
}
.lselected {
	background-color: aliceblue;
}
#ndata {
	position: absolute;
	background-color: #d4dbde;
	margin: 0 auto;
	border: 1px solid #a9a9a9;
	width: 90%;
	border-top: 0;
	z-index: 1;
	border-bottom-left-radius: .3em;
	border-bottom-right-radius: .3em;
	padding-bottom: .7em;
	top: 0px;
	animation-name: bounceInDown;
	animation-duration: 1s;
	animation-fill-mode: both;
	display: none;
	left: 0;
	right: 0;
}
@keyframes bounceInDown {
	0%, 60%, 75%, 90%, 100% {
		transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	}
	0% {
		opacity: 0;
		transform: translate3d(0, -3000px, 0);
	}
	60% {
		opacity: 1;
		transform: translate3d(0, 25px, 0);
	}
	75% {
		transform: translate3d(0, -10px, 0);
	}
	90% {
		transform: translate3d(0, 5px, 0);
	}
	100% {
		transform: none;
	}
}
#ndata div {
	float: left;
	width: 25%;
	margin-top: 2em;
}
#ndata label {
	font-size: .7em;
	color: #696969;
	margin: 0;
	margin-left: 10px;
}
#ndata input {
	border: 1px solid #b2b2b2;
	border-radius: .3em;
	padding: revert;
	background-color: white;
	margin: 0;
	width: calc(100% - 30px);
	margin-left: 10px;
	outline: 0;
}
#ndata input:read-only {
	background-color: azure;
	opacity: .5;
}
input#source:read-only:not(:placeholder-shown) {
	cursor: pointer;
}
input#source:read-only:not(:placeholder-shown):hover {
	text-decoration: underline;
	color: darkblue;
}
.mtoggle {
	display: block !important;
}
#pnlist .size {
	right: 15px;
	position: absolute;
	margin-top: -22px;
	font-size: 85%;
	color: #737677;
	width: 3em;
	text-align: right;
}
#pnlist .subject {
	width: calc(100% - 4em);
	text-overflow: ellipsis;
	overflow: hidden;
	font-weight: bolder;
	color: #686868;
}
#pnlist .date {
	font-size: 85%;
	color: #737677;
}
.nlist li {
    border-bottom: 1px solid #f1f3f4;
    cursor: default;
    font-weight: 400;
    line-height: 22px;
    list-style: none;
    background-image: url(images/unknown-icon.png);
    background-repeat: no-repeat;
    background-size: 32px;
    padding-left: 36px;
    background-position-x: 5px;
    background-position-y: 6px;
}
.nlist li:hover {
    background-color: lightgray;
}
.nlist li.md {
    background-image: url(images/md-icon.png);
}
.nlist li.jpg {
    background-image: url(images/jpg-icon.png);
}
.nlist li.png {
    background-image: url(images/png-icon.png);
}
.nlist li.html {
    background-image: url(images/html-icon.png);
}
.nlist li.pdf {
    background-image: url(images/pdf-icon.png);
}
.nlist li.txt {
    background-image: url(images/txt-icon.png);
}
.upl {
    display: none;
}
#main_header {
	background-color: #f4f4f4;
	z-index: 10;
	position: relative;
	top: 0;
	width: 100%;
}
#main_area {
	width: 100%;
	height: calc(100% - 80px);
	position: relative;
}
.objdiv {
	height: 100%;
	max-width: 100%;
}
.objcont {
	width: 100%;
	height: 100%;
	object-fit: scale-down;
}
.custom-file {
	display: none;
}
/* --------------------- Markdown Editor CSS Overwrites --------------------- */
.EasyMDEContainer .CodeMirror {
	border-left: 0 !important;
	border-right: 0 !important;
	border-radius: 0;
}
.editor-toolbar {
	z-index: 2;
	background-color: #f4f4f4;
	border-radius: 0 !important;
	border: 0 !important;
	padding: 2px .5em !important;
}
.editor-toolbar button:disabled {
	pointer-events: none;
}
.editor-toolbar.disabled-for-preview button:not(.no-disable) {
	opacity: .3 !important;
}
.fa-floppy-disk::before {
	content: "\f0c7";
}
.editor-preview {
	background-color: white !important;
	line-height: 1.2em;
	counter-reset: section;
}
.editor-preview h1:before {
	counter-increment: section;
	content: counter(section) " ";
}
.editor-preview h2:before {
	counter-increment: sub-section;
	content: counter(section) "." counter(sub-section) " ";
}
.editor-preview h3:before {
	counter-increment: composite;
	content: counter(section) "." counter(sub-section) "." counter(composite) " ";
}
.editor-preview * {
	max-width: var(--maxwidth);
	margin-left: auto;
	margin-right: auto;
}
.editor-preview pre {
	border-radius: 4px;
}
.editor-preview code {
	overflow-x: auto;
	scrollbar-width: thin;
	margin: 0 0 -5px 0;
	user-select: all;
	width: unset;
	background-color: #eed7d7;
	font-family: Consolas,Monaco,monospace !important;
	color: #e93700;
	padding: 2px;
	border-radius: 4px;
	display: inline-block;
	white-space: pre;
	max-width: 100%;
}
.editor-preview pre code {
	color: unset;
	background-color: unset;
	position: relative;
	width: 100%;
}
.editor-preview kbd {
	font-family: Consolas,"Courier New",monospace;
	border-radius: 5px;
	padding: 0 4px;
	font-size: .9em;
	background: #fff;
	color: #555;
	user-select: none;
	border-width: 1px 3px 3px 1px;
	border-color: #ccc #aaa #888 #bbb;
	white-space: nowrap;
	border-style: solid;
}
.editor-preview img {
	display: block;
	max-width: var(--maxwidth);
}
.editor-preview blockquote {
	color: #3c763d;
	background-color: rgba(66,185,131,.1);
	padding: 0;
	margin: 15px 0;
	border-left: 4px solid #42b983;
	margin-left: auto;
	margin-right: auto;
}
.editor-preview blockquote p {
	padding: 5px;
}
.editor-preview a {
	color: #42b983;
	text-decoration: none;
	font-style: normal;
	font-weight: 600;
}
.editor-preview h1, .editor-preview h2, .editor-preview h3, .editor-preview h4, .editor-preview h5, .editor-preview h6 {
	font-weight: bold;
}
.editor-preview code::-webkit-scrollbar-thumb {
	background: #bbb;
	border-radius: 6px;
}
.editor-preview code::-webkit-scrollbar {
	height: 6px;
	background: #dee2e6;
}
.editor-preview table {
	border-spacing: 0;
	border-collapse: collapse;
	text-shadow: 1px 1px 0 #fff;
}
.editor-preview table thead th {
	background-color: #e0e0e0;
	border: 1px solid #ddd;
	padding: 5px;
}
.editor-preview table tr:nth-child(2n) {
	background: linear-gradient(to bottom,#f8f8f8 0,#f6f6f6 100%);
}
.editor-preview table td, .editor-preview table th {
	border: 1px solid #ddd;
	padding: 5px;
}
.editor-preview li {
	margin-left: 0 !important;
}
.editor-preview li > input[type="checkbox"] {
	height: unset !important;
	margin-left: -1.3em;
}
.editor-preview span.success {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	background-color: chartreuse;
	padding: 0 5px;
	border-radius: 4px;
	color: black;
}
.editor-preview-side {
	position: absolute !important;
	top: 34px;
	bottom: 31px;
}
.cm-comment {
	font-family: Consolas,Monaco,monospace !important;
	font-size: 0.9em;
}
.cm-url, .cm-link {
	color: #42b983 !important;
}