.iframebox.simplenotes_ {
    height: 100%}
.uibox {
    border: 0!important;
    border-radius: 0;
}
#notessplitter {
    display: none;
}
body {
    font-size: unset;
    background: unset;
}
.editor-toolbar button {
    border: 0;
    background: transparent;
}
.editor-toolbar button:hover {
    background: lightgray;
}
#suggest {
    position: absolute;
    background-color: #FFF;
    border: 1px solid #CCF;
    z-index: 100;
    left: 9px;
    padding: 5px;
    top: 70px;
    overflow: auto;
}
#suggest div {
    white-space: nowrap;
    font-family: 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
    font-size: .8em;
}
#suggest div.select {
    color: #FFF;
    background-color: #36F;
}
#suggest div.over {
    background-color: #9CF;
}
object {
    max-width: 100%;
	max-height: 100%;
	width: initial;
	height: initial;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
	margin: auto;
	z-index: 10;
}
.headerTitle {
    margin: 10px;
    font-size: 2em;
    font-family: 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
    position: relative;
    top: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inherit;
    margin-top: 0;
}
.headerTags {
    margin: 10px;
    font-size: 11px;
    font-family: 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
    position: relative;
    top: -20px;
}
#content {
    height: 100%;
    overflow: auto;
    padding: 0 15px;
}
.save_button {
    position: absolute;
    right: 16px;
    top: 14px;
    height: 24px;
    width: 24px;
    background: url(images/button_save.png) no-repeat;
    display: none;
}
.save_button a {
    width: 100%;
    height: 100%;
    position: absolute;
}
#sidebar .searchbox {
	position: absolute;
	width: 350px;
}
#sidebar .searchbox input {
	font-weight: normal;
	background: #fff;
	height: 21px;
	background-image: url(./../../../skins/larry/images/buttons.png);
	width: 100%;
	padding: 0 4px 0 24px;
	background-repeat: no-repeat;
	background-position: -7px -671px;
	background-size: 36px;
}
#sidebar {
    width: 400px;
    position: absolute;
    float: left;
    overflow: hidden;
    border-radius: 0;
    margin-right: 5px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-right: 1px solid #d4dbde!important;
}
#filelist_header {
    display: block;
    top: 0;
    left: 0;
    right: 0;
    height: 34px;
    padding: 6px;
    background: #efefef;
    white-space: nowrap;
    border-bottom: 1px solid #dfdfdf;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#taglist {
    display: none;
}
#note_tags {
    border: thin solid #ced4da;
}
.filelist {
    width: 100%;
    height: calc(100% - 34px);
    overflow: auto;
    background: #dcdcdc;
}
.cke_chrome {
    border: 0!important;
}
#main {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.main {
    left: 395px!important;
    border-radius: 0!important;
}
.main_header {
    height: 100px;
    background: #efefef;
    width: 100%}
.main_header input {
    width: calc(100% - 20px);
    padding: 0;
    margin-left: 6px;
    margin-top: 5px;
    padding-left: 5px;
    border: thin solid #ced4da!important;
}
.main_area {
    position: absolute;
    top: 80px;
    height: calc(100% - 74px);
    width: 100%;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background: #fff;
    overflow: auto;
}
.main_area textarea {
	border: 0;
	width: calc(100% - 20px);
	height: calc(100% - 61px);
	white-space: pre;
	padding: 10px;
	top: 35px;
	position: absolute;
	font-family: revert;
	border-radius: revert;
	resize: none;
	outline: 0;
}
.main_area textarea:focus {
	box-shadow: revert;
}
#atoolbar {
	background: #efefef;
	border-bottom: 1px solid #bbb;
	padding: 0 10px;
 	z-index: 12;
	position: absolute;
	right: 0;
	left: 0;
}
#atoolbar li {
	border-radius: 4px;
	cursor: pointer;
	margin: 4px 3px;
	padding: 5px;
	color: #525252;
}
#atoolbar li:hover {
	background: #e3e3e3;
}
#atoolbar i.separator {
	display: inline;
	width: 2px;
	border-left: 1px solid #d9d9d9;
	border-right: 1px solid #fff;
	margin: 0 5px;
}
#filelist {
    margin: 0;
    padding: 0;
}
.fsize {
    text-align: right;
    float: right;
    width: 50px;
    border-radius: 9px;
    padding: 0 6px;
    background: #929292;
    position: relative;
    color: #fff!important;
    font-weight: 700!important;
    line-height: 15px;
}
.filelist li {
    white-space: nowrap;
    padding: 3px 5px 2px 40px;
    font-weight: 700;
    color: #405353;
    border-bottom: 1px solid #b2b8bf;
    font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    height: 35px;
}
.filelist a:hover span#taglist {
    display: block;
    background: #000!important;
    z-index: 10;
    position: absolute;
    max-width: 300px;
    border-radius: 5px;
    padding: 5px;
    color: #fff;
    white-space: normal;
    margin-top: -55px;
    box-shadow: 1px 1px 3px gray;
    left: 10px;
}
.filelist li.pdf {
    background: #fff url(images/pdf-icon.png) 5px 7px/27px no-repeat;
}
.filelist li.html, li.htm {
    background: #fff url(images/html-icon.png) 5px 7px/27px no-repeat;
}
.filelist li.jpg {
    background: #fff url(images/jpg-icon.png) 5px 7px/27px no-repeat;
}
.filelist li.md {
    background: #fff url(images/md-icon.png) 5px 7px/27px no-repeat;
}
.filelist li.txt {
    background: #fff url(images/txt-icon.png) 5px 7px/27px no-repeat;
}
.filelist li {
    background: #fff url(images/unknown-icon.png) 5px 7px/27px no-repeat;
}
.selected, .selected a, .selected span {
    background-color: #4c9dc3!important;
    color: #fff!important;
}
.selected span.fsize {
    background: #13aff8!important;
}
.filelist li:hover {
    background-color: #e8eaf6;
    text-decoration: none!important;
}
.filelist a > span {
    color: #666;
    font-weight: 400;
    font-size: 11px;
    font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
}
.filelist a {
    text-decoration: none!important;
    color: #405353;
    width: 100%;
    height: 100%;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
}
.cke_editable {
    cursor: text;
    font-family: Helvetica Neue, Helvetica, Segoe UI, Arial, freesans, sans-serif;
}
/* --------------------- Markdown Editor CSS Overwrites --------------------- */
.editor-preview blockquote, .editor-preview-side blockquote {
	color: #3c763d;
	background-color: rgba(66,185,131,.1);
	padding: 0;
	margin: 15px 0;
	border-left: 4px solid #42b983;
	margin-left: auto;
	margin-right: auto;
}
.editor-preview blockquote p, .editor-preview-side blockquote p {
	padding: 5px;
}
.editor-preview code {
	overflow-x: auto;
	scrollbar-width: thin;
	margin: 0 0 -5px 0;
	user-select: all;
	width: unset;
	background: #eed7d7;
	font-size: .92em;
	font-family: Consolas,Monaco,monospace !important;
	color: #e93700;
	padding: 2px 4px;
	border-radius: 5px;
	display: inline-block;
	white-space: pre;
}
.editor-preview a, .editor-preview-side a {
	color: #42b983;
	text-decoration: none;
	font-style: normal;
	font-size: 15px;
	font-weight: 600;
}
.editor-preview pre, .editor-preview-side pre {
	background: #f8f8f8;
	margin-bottom: 10px;
	padding: 7px;
	font-size: 85%;
	line-height: 1.45;
	border-radius: 4px;
	border: thin solid #dfe2e5;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	padding-right: 10px;
}
.editor-preview pre code {
	color: unset;
	background: unset;
}
.editor-preview {
    background: #fff;
    font-family: Helvetica Neue,Helvetica,Segoe UI,Arial,freesans,sans-serif;
    color: #333;
    background: #fff;
}
.editor-preview * {
	max-width: 860px;
	margin-left: auto;
    margin-right: auto;
}
.editor-preview table, .editor-preview-side table {
	border-spacing: 0;
	border-collapse: collapse;
	text-shadow: 1px 1px 0 #fff;
}
.editor-preview table thead th, .editor-preview-side table thead th {
	background-color: #e0e0e0;
	border: 1px solid #ddd;
	padding: 5px;
}
.editor-preview table tr:nth-child(2n), .editor-preview-side table tr:nth-child(2n) {
	background: linear-gradient(to bottom,#f8f8f8 0,#f6f6f6 100%);
}
.editor-preview table td, .editor-preview table th, .editor-preview-side table td, .editor-preview-side table th {
	border: 1px solid #ddd;
	padding: 5px;
}
.editor-preview kbd, .editor-preview-side kbd {
	font-family: Consolas,"Courier New",monospace;
	display: inline-block;
	border-radius: 5px;
	padding: 0 4px;
	margin: 2px;
	font-size: .9em;
	vertical-align: text-bottom;
	background: #fff;
	color: #555;
	user-select: none;
	border-width: 1px 3px 3px 1px;
	border-color: #ccc #aaa #888 #bbb;
	white-space: nowrap;
	border-style: solid;
}
.editor-preview img {
	display: block;
	max-width: 860px;
}
.editor-preview p > img {
	display: initial;
}
.EasyMDEContainer .CodeMirror {
    position: inherit;
    border: 0;
}
.EasyMDEContainerH {
	display: none !important;
}
.editor-preview-full {
	position: fixed;
	left: 395px;
	width: calc(100% - 396px);
	top: 80px;
	height: calc(100% - 74px);
	padding-top: 20px;
}
.CodeMirror-vscrollbar {
	overflow-y: hidden;
}
.editor-toolbar {
	position: fixed;
	width: calc(100% - 432px);
	background: #efefef;
	border: 0;
	border-bottom: 1px solid;
	border-color: #bbb;
	z-index: 101;
	border-radius: 0;
}
.EasyMDEContainer .CodeMirror-scroll {
    padding-top: 30px;
}
.editor-toolbar::after {
	margin-top: 2px;
}
.editor-toolbar::before {
	margin-bottom: 2px;
}
.editor-toolbar button.active, .editor-toolbar button:hover {
	background: #e3e3e3;
	border-color: #95a5a6;
}
.editor-toolbar.fullscreen {
    background: #f4f4f4;
}
.tagify {
	--tags-border-color: transparent !important;
	z-index: 100;
	width: calc(100% - 15px);
	font-size: .7em;
	font-style: italic;
	flex-wrap: unset !important;
	top: -51px;
	left: 7px;
	border-radius: 4px;
	border: thin solid transparent !important;
}
.tagify[readonly]:not(.tagify--mix) .tagify__tag > div::before {
	box-shadow: 0 0 0 var(--tag-inset-shadow-size,1.1em) var(--tag-hover,#d3e2e2) inset !important;
}
tags {
	overflow: auto !important;
}
tags.edit {
    background: white;
    border: thin solid #ced4da !important;
}
tags.edit:focus-within {
	box-shadow: 0 0 5px 2px rgba(71,135,177,.9) !important;
	z-index: 102;
}
.tagify__tag + .tagify__input::before{
    display:none
}
.cm-s-easymde .cm-comment {
	font-family: Consolas,inherit monospace;
	font-size: 0.8em;
}
.db-spinner {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: transparent;
	border: 10px solid #2229;
	border-top: 10px solid #03a9f4;
	border-bottom: 100x solid #03a9f4;
	-webkit-animation: 1s spin linear infinite;
	animation: 1s spin linear infinite;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 100;
}
@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    } to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    } to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
#tocdiv {
	position: fixed;
	z-index: 10;
	background: #efefef;
	width: 300px;
	top: 77px;
	right: -310px;
	white-space: nowrap;
	padding: 10px 0;
	box-shadow: 1px 3px 3px 0 rgba(50,50,50,.3);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border: 1px solid #bbb;
	border-top: 0;
	overflow: auto;
	max-height: calc(100% - 140px);
}
#tocdiv.tdhidden {
	right: 26px;
}
#tbutton {
	position: absolute;
	z-index: 100;
	top: 15px;
	right: 10px;
	background: #f4f4f4;
	border: 1px solid #ced4da;
	border-radius: 5px;
	cursor: pointer;
	color: #535252;
	font-size: .8em;
	padding: 3px;
	outline: 0;
	box-shadow: revert;
}
#tocdiv ul {
	margin: 0;
	padding-left: 20px;
}
#tocdiv li {
	list-style: none;
	padding-right: 10px;
}
#tocdiv a {
	color: #42b983;
	text-decoration: none;
	font-weight: bolder;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%;
	display: inline-block;
	font-size: 0.9em;
}