<roundcube:include file="includes/layout.html" />
<roundcube:include file="includes/menu.html" />
<h1 class="voice"><roundcube:label name="notes" /></h1>
<div id="layout-list" class="listbox">
	<div id="messagelist-header" class="header">
		<a class="button icon task-menu-button" href="#menu"><span class="inner"><roundcube:label name="menu" /></span></a>
		<roundcube:button innerclass="inner" id="newnote" command="newnote" type="link" class="button icon toolbar-button" label="primitivenotes.note_new" title="primitivenotes.note_new" />
		<roundcube:button innerclass="inner" id="addnote" command="addnote" type="link" class="button icon toolbar-button" label="primitivenotes.note_upload" title="primitivenotes.note_upload" />
		<roundcube:button innerclass="inner" id="pnoptions" command="pnoptions" type="link" class="button icon toolbar-button" label="options" title="options" />
	</div>
	<div role="search" aria-labelledby="aria-label-notesquicksearchbox" class="searchbar menu">
		<span id="nspan"><input name="_q" id="notessearchform" class="no-bs" placeholder="Search …" type="text"></span>
	</div>
	<div id="notes-list" class="scroller">
		<roundcube:object name="plugin.notes_list" />
	</div>
</div>
<div id="layout-content">
	<form id="upl_form" action="&_action=uplNote" method="POST" enctype="multipart/form-data"><input type="file" id="upl" class="upl" name="dropFile" /></form>
	<input type="file" id="dropMedia" class="upl" name="dropMedia" />
	<form method="POST" id="metah">
		<div id="main_header" class="main_header">
			<a class="button icon back-list-button" href="#back"><span class="inner"><roundcube:label name="back" /></span></a>
			<input id="headerTitle"></input>
			<input id="fname" name="fname" type="hidden">
			<input id="ntags" name="ntags" class="taedit" placeholder="Tags">
		</div>
		<div class="main_area" id="main_area">
			<div id="ndata">
				<div class="ifield" ><label for="author">Author</label><input id="author" name="author" type="text" /></div>
				<div class="datefield" ><label for="created">Created</label><input id="created" name="created" type="datetime-local" readonly="false" /></div>
				<div class="datefield" ><label for="modified">Modified</label><input id="modified" name="modified" type="datetime-local" readonly="false" /></div>
				<div class="ifield" ><label for="source">Source</label><input id="source" name="source" type="text" placeholder="source" /></div>
			</div>
			<textarea id="editor1" name="editor1"></textarea>
		</div>
	</form>
	<div id="modal">
		<div id="dldv">
			<div id="dldvt" class="">
				<button class="tab_button" onclick="openDiv('int')">Internal</button>
				<button class="tab_button" onclick="openDiv('ext')">Extern</button>
				<button class="tab_button" onclick="openDiv('cls')">&#10006;</button>
			</div>
			<div id="flink"></div>
			<div class="dldvi">
				<input id="lsearch">
				<div id="dldvn">
				</div>
			</div>
			<div class="dldve">
				<input id="lurl">
			</div>
			<div id="dldvb">
				<button id="cdlist">Cancel</button><button id="odlist">OK</button>
			</div>
		</div>
	</div>
</div>
<roundcube:include file="includes/footer.html" />