<roundcube:object name="doctype" value="html5" />
<html>
<head>
<roundcube:include file="/includes/links.html" />
</head>
<body class="noscroll">
<roundcube:include file="/includes/header.html" />
<div id="mainscreen" class="offset">
	<!-- toolbar -->
	<h2 id="aria-label-toolbar" class="voice"><roundcube:label name="arialabeltoolbar" /></h2>
	<div id="notestoolbar" class="toolbar" role="toolbar" aria-labelledby="aria-label-toolbar">
		<roundcube:button innerclass="inner" id="newnote" command="newnote" type="link" class="button icon new toolbar-button" label="primitivenotes.note_new" title="primitivenotes.note_new" />
		<roundcube:button innerclass="inner" id="addnote" command="addnote" type="link" class="button icon upload toolbar-button" label="primitivenotes.note_upload" title="primitivenotes.note_upload" />
		<roundcube:button innerclass="inner" id="pnoptions" command="pnoptions" type="link" class="button icon more toolbar-button" label="options" title="options" />
		<div role="search" aria-labelledby="aria-label-notesquicksearchbox" class="notessearch menu">
			<input name="_q" id="notessearchform" class="no-bs" placeholder="Search …" type="text">
		</div>
	</div>
	<div id="pluginbody" class="uibox contentbox">
		<div id="layout-list" class="listbox">
			<div id="notes-list" class="scroller">
				<roundcube:object name="plugin.notes_list" />
			</div>
		</div>
		<div id="notesviewsplitter" unselectable="on"></div>
		<div id="layout-content">
			<form id="upl_form" action="&_action=uplNote" method="POST" enctype="multipart/form-data"><input type="file" id="upl" class="upl" name="dropFile" /></form>
			<form method="POST" id="metah">
				<div id="main_header" class="main_header">
					<input id="headerTitle"></input>
					<input id="fname" name="fname" type="hidden">
					<input id="ntags" name="ntags" class="taedit">
				</div>
				<div class="main_area" id="main_area">
					<fieldset id="ndata">
						<div><label for="author">Author</label><input id="author" name="author" type="text" readonly="true" /></div>
						<div><label for="date">Created</label><input id="date" name="date" type="text" readonly="true" /></div>
						<div><label for="updated">Updated</label><input id="updated" name="updated" type="text" readonly="true" /></div>
						<div><label for="source">Source</label><input id="source" name="source" type="text" readonly="true" placeholder="source" /></div>
					</fieldset>
					<textarea id="editor1" name="editor1"></textarea>
				</div>
			</form>
		</div>
		<roundcube:object name="plugin.body" />
	</div>
</div>
<roundcube:object name="plugin.footer" />
<roundcube:include file="/includes/footer.html" />
</body>
</html>