#layout-list {
	width: 300px;
	float: left;
}
#notes-list {
	width: 300px;
}
#layout-content {
	margin-left: 310px;
	height: 100%;
}
#tocdiv li:not(.ul)::before {
	color: #0069a6;
}
#notestoolbar {
	top: -50px;
	position: absolute;
	height: 40px;
	width: 100%;
}
.EasyMDEContainer .CodeMirror {
	height: calc(100vh - 255px) !important;
}
.notessearch {
	position: relative;
	float: right;
}
.notessearch::before {
	content: ' ';
	background: url(../../../../skins/larry/images/buttons.png) -2px -317px no-repeat;
	position: absolute;
	z-index: 1;
	width: 15px;
	height: 18px;
	margin-top: 3px;
	margin-left: 5px;
}
#notessearchform {
	padding-left: 25px;
}
#notesviewsplitter {
	top: 100px;
	margin-left: 300px;
	width: 10px;
	background: #cad2d9;
	position: fixed;
	display: block;
	z-index: 1000;
	bottom: 15px;
}
.scroller {
	top: 0 !important;
}
#notestoolbar a.button.new {
    background: url(images/button_new.png) 15px 2px no-repeat transparent;
    margin-left: 10px;
}
#notestoolbar a.button.upload {
    background: url(images/button_upload.png) 14px 2px no-repeat transparent;
}
.listing li a {
	height: 30px;
	line-height: 16px;
}
.size {
	margin-top: -15px !important;
}
.subject {
	width: calc(100% - 4em);
}
#headerTitle {
	width: calc(100% - 40px) !important;
}
.tagify {
	width: calc(100% - 30px);
}
.editor-toolbar {
	padding-left: 20px !important;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}
#taskbar a.button-notes span.button-inner {
    background: url(images/notes002.png) no-repeat;
    background-position: 0 0;
    display: inline-block;
}