@media screen and (max-width: 480px) {
	.EasyMDEContainer .CodeMirror {
		max-width: 100vW;
	}
	.editor-preview img {
		max-width: calc(100vW - 20px) !important;
	}
	#main_header .tagify {
		max-width: calc(100vW - 20px);
	}
	#layout-menu {
		position: absolute !important;
	}
}
#metah {
	height: 100%;
}
.editor-preview.sided--no-fullscreen.editor-preview-active-side {
	position: absolute;
	top: 34px;
	bottom: 31px;
}
.EasyMDEContainer .CodeMirror {
	height: calc(100vh - 145px) !important;
}
a.button.icon.task-menu-button.notes {
	left: 0;
	position: absolute;
}
a.button.icon.back-list-button {
    color: #000;
    font-size: 1.3em;
    top: 7px;
    display: block;
    width: 15px;
    float: left;
    position: inherit;
    left: -7px;
}
#headerTitle.readOnly.button.icon.task-menu-button {
	position: absolute;
	left: 0;
}
html.touch .listing tbody td, html.touch .listing:not(.toolbar) li {
	line-height: 25px;
}
#nspan::before {
	content: "\f002";
	height: 36px;
	color: #737677;
	margin: 0 0 0 .75rem;
	font-family: Icons;
	font-size: 1.25em;
	font-style: normal;
	font-weight: 900;
	width: 1.18em;
	text-align: center;
}
#newnote::before {
	content: "\f0fe";
}
#pnoptions::before {
	content: "\f1de";
}
#addnote::before {
	content: "\f093";
}
#tocdiv li:not(.ul)::before {
	color: #00acff;
}
#layout-menu {
	position: sticky;
	top: 0;
}
#layout-list {
	position: sticky;
	top: 0;
}
#layout-content {
	position: sticky;
	top: 0;
}